a {
    text-decoration: none;
}

.header__nav {
    height: 9vh;
    display: flex;
    justify-content: center;
}

.header__inner {
    width: 95%;
}

.user {
    width: 20%;
    height: 100%;
    display: flex;
    position: relative;
    z-index: 3;
    float: left;
    justify-content: center;
}

.user__link {
    margin-left: 3rem;
    display: inline-block;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.user__logo {
    color: black;
    font-size: 5.5em;
}

.name {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
    overflow: hidden;
    float: left;
}

.name__link {
    font-size: 3.3em;
    font-weight: 400;
    letter-spacing: 0.1rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}

.search {
    width: 20%;
    height: 100%;
    display: flex;
    position: relative;
    z-index: 3;
    float: left;
    justify-content: right;
    display: flex;
    align-items: center;
}

.search__link {
    margin-right: 3rem;
    display: inline-block;
    height: 100%;
    display: flex;
    align-items: center;
}

.search__logo {
    font-size: 5.5em;
    color: black;
}