.main {
    height: calc(14rem * 9 + 3rem);
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}