.header {
    padding-top: 32px;
}

.header__inner {
    max-width: 1230px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu__logo {
    font-size: 2.625rem;
}

.nav__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.nav__link {
    display: inline-block;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    font-size: 2.25rem;
}

.nav__link:last-child {
    padding-right: 0px;
}

.nav__auth {
    width: 100%;
    font-size: 2.25rem;
}

.main {
    height: 100%;
}

.main__img {
    height: 580px;
    border: solid;
}

.main__content {
    max-width: 1230px;
    padding: 60px 15px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.main__info {
    width: 384px;
    font-size: 1.75rem;
}

.info__border {
    border: 1px solid #707070;
    margin-top: 14px;
}

.info__content {
    font-size: 1.25rem;
}

}